<link rel="stylesheet" href="../stylesheets/goodsList.css">
<div class="container"> 
<div class= "head">
<p style="float:left;margin-right: 10px"> <a href="#"> ECSHOP 管理中心 </a> - 商品列表</p>
<img src="../images/jnsy.png"/>
<a href="#" class="goodslist">添加新商品</a>
</div>
<div  class="form-div">
    <img src="../images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH">
    关键字 <input type="text"  id="keyword" name="keyword"  size="15">
    <input type="button" value=" 搜索 "   onclick ="search()" class="button">
  </div>
<div class="list-div" id="listDiv"><!-- $Id: goods_list.htm 17126 2010-04-23 10:30:26Z liuhui $ -->

<table cellpadding="3" cellspacing="1">
  <tbody><tr>
    <th>
      <input type="checkbox">
      <a href="#">编号</a>   </th>
    <th><a href="#">商品名称</a></th>
    <th><a href="#">货号</a></th>
    <th><a href="#">价格</a></th>
    <th><a href="#">上架</a></th>
    <th><a href="#">精品</a></th>
    <th><a href="#">新品</a></th>
    <th><a href="#">热销</a></th>
    <th><a href="#">推荐排序</a></th>
    <th><a href="#">库存</a></th>
    <th><a href="#">虚拟销量</a></th>
    <th>操作</th>
  </tr>
  <% for (var i = 0 ,len = data.length;i < len ; i++) {%>
    <tr>
    <td ><input type="checkbox" name="checkboxes[]" value="<%=data[i].goods_num%>"><%= data[i].goods_num%></td>
    <td><span><%= data[i].goods_name%> </span></td>
    <td><span><%= data[i].goods_sn%> </span></td>
    <td><span><%= data[i].shop_price%> </span></td>
    <td ><img src="../images/yes.gif"></td>
    <td ><img src="../images/yes.gif"></td>
    <td ><img src="../images/yes.gif"></td>
    <td ><img src="../images/yes.gif"></td>
    <td><span>100</span></td>
    <td><span>100</span></td>
    <td><span><%= data[i].virtual_sales%> </span></td>
    <td>
      <a  href="goods?goods_num=<%=data[i].goods_num%>" target= "_blank"  title="查看"><img src="../images/icon_view.gif" width="21" height="21" border="0"></a>
      <a href="javascript:;"onclick="editGoods(this)" title="编辑"><img src="../images/icon_edit.gif" width="21" height="21" border="0"></a>
      <a href="javascript:;" title="复制"><img src="../images/icon_copy.gif" width="21" height="21" border="0"></a>
      <a href="javascript:;" onclick="deleteGoods(this)" title="回收站"><img src="../images/icon_trash.gif" width="21" height="21" border="0"></a>
              </td>
      </tr>
<%}%>
  
    
    
    
    
    
 
  </tbody>
  </table>
  <div id="turn-page">
        总计  <span id="totalRecords"><%= count %></span>
        个记录分为 <span id="totalPages"><%= totalPages %> </span>
        页当前第 <span id="pageCurrent"><%= pageCurrent %></span>
        页，每页 <input type="text" size="3" id="pageSize" value="<%= pageSize%>" onblur="pageSizeChange(this.value)">
        <span id="page-link">
          <a href="javascript:gotoPageFirst()">第一页</a>
          <a href="javascript:gotoPagePrev()">上一页</a>
          <a href="javascript:gotoPageNext()">下一页</a>
          <a href="javascript:gotoPageLast()">最末页</a>
          <select id="gotoPage" onchange="gotoPage(this.value)">
          <% for (var i = 1 ;i <= totalPages ; i++) {%>
            <% if (i==pageCurrent){%>
           <option value = "<%- i%>" selected="selected"><%- i%></option>
             <% continue;}%>

            <option value = "<%- i%>"><%- i%></option>
          <% }%>
          </select>
        </span>
      </div>


</div>
<script>
var pageCurrent;
//var flag = flag ||"";
var count = "<%= count %>";
var pageSize = "<%= pageSize%>";
var totalPages;
//console.log(pageCurrent);
//console.log(1,2);
//var value = value||"";
//console.log(2);
//var totalPages;
//var totalPages = "<%= totalPages%>";
	//console.log(($("#totalRecords").text()-1)/$("#pageSize").val()+1);
 
  //$("#totalPages").text(totalPages);
  //$("#pageCurrent").text(pageCurrent);
//   for (var i =0 ;i < totalPages ; i++){
//       var option = `<option value="${i+1}">${i+1}</option>`
//       $("#gotoPage").append(option);


//   }
   
//    //$("#gotoPage").get(0).selectedIndex = pageCurrent+1;
// }

function search(){
   var flag = "search" ;
   var value = $("#keyword").val();
    console.log(value);
    $.ajax({
        url:"goodslist",
        data:{value,flag:"search"},
        success:function(data){
	      	//  console.log(1);
	      	  // init();
	      	//  console.log(data);
              $(".right").html(data);
	      }

    });

}

function gotoPageNext(){
	pageCurrent = "<%= pageCurrent%>" 
	 totalPages = $("#totalPages").text();
	 console.log(totalPages);
	 console.log("page",pageCurrent);
	 //console.log(value);
	// console.log(flag);
	// console.log(totalPages);
   // var prePages = "<%= pageCurrent%>"
	 //pageCurrent = 1;
	 //console.log(pageCurrent);
	// var totalPages = "<%= totalPages%>";
	   //console.log(totalPages);
    //console.log(total)
	if(parseInt(pageCurrent) < parseInt(totalPages) ){

		console.log(pageCurrent == totalPages);
          pageCurrent ++;
       }
         $.ajax({
	      url:"goodsList",
	      data:{pageCurrent,pageSize},
	      success:function(data){
	      	//  console.log(1);
	      	  // init();
              $(".right").html(data);
	      }


   		})
	
	
  

}

function gotoPagePrev(){
	 totalPages = $("#totalPages").text();
	 //console.log(pageCurrent);
	// var totalPages = "<%= totalPages%>";
	//  console.log(totalPages);
	if(pageCurrent > 1){
		//console.log(1,pageCurrent);
         pageCurrent --;
       if(pageCurrent > totalPages){
       	  console.log(1);
       	  pageCurrent = totalPages;
       }
         $.ajax({
	      url:"goodsList",
	      data:{pageCurrent,pageSize},
	      success:function(data){
	      	 // console.log(1);
	      	  // init();
              $(".right").html(data);
	      }


   		})
	}
	
}

function gotoPageFirst(){
	 pageCurrent =1;
    $.ajax({
	      url:"goodsList",
	      data:{pageCurrent,pageSize},
	      success:function(data){
	      	 // console.log(1);
	      	  // init();
              $(".right").html(data);
	      }
		})
}

function gotoPageLast(){
	 pageCurrent = totalPages;
    $.ajax({
	      url:"goodsList",
	      data:{pageCurrent,pageSize},
	      success:function(data){
	      	 // console.log(1);
	      	  // init();
              $(".right").html(data);
	      }
		})
}

function gotoPage(value){
     pageCurrent = value;
    // $("#gotoPage").get(0).selectedIndex=value;
     $.ajax({
	      url:"goodsList",
	      data:{pageCurrent,pageSize},
	      success:function(data){
	      	 // console.log(1);
	      	  // init();
              $(".right").html(data);
	      }
		});


}

function pageSizeChange(value){
    var size = parseInt(value);
   if(isNaN(size)||size<0||size>count){
   	  alert("请输入有效数字");
   	   $("#pageSize").val(pageSize);
   	  return 
   }
     pageSize = size;
     $("#totalPages").text(parseInt((count-1)/pageSize)+1);

};

function deleteGoods(value){
	if(confirm("是否确认把该商品放入回收站"))
     {
     	var goods_num = $(value).parent().parent().find('td').first().text();
        $.ajax({
	      url:"goodsList",
	      data:{flag:"delete",pageCurrent,pageSize,goods_num},
	      success:function(data){
	      	 // console.log(1);
	      	  // init();
              $(".right").html(data);
	      }
		});
   
   	
   	}
}

function editGoods(value){
   var goods_num = $(value).parent().parent().find('td').first().text();
     $.ajax({
	      url:"editGoods",
	      data:{goods_num},
	      success:function(data){
	      	 // console.log(1);
	      	  // init();
              $(".right").html(data);
	      }
		});

}


</script>